* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background: #fff;
}

.nav-left {
    height: 50%;
    width: 50%;
}

.cart-image {
    height: 40%;
    width: 20%;
}

.nav-right {
    display: flex;
    gap: 20px;
}

.nav-right a {
    text-decoration: none;
    color: black;
}

.banner {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 200px;
    background: #fefefe;
    gap: 20px;
}

.banner-text {
    flex: 1;
    padding: 20px;
}

.banner-text h1 {
    font-size: 36px;
}

.banner-text .highlight {
    color: orange;
    font-weight: bold;
}

.banner-img {
    flex: 1;
    padding: 20px;
}

p {
    font-size: small;
    text-align: inherit;
}

banner-img img {
    max-width: 100%;
}

.plants {
    display: flex;
    justify-content: center;

}

.plants-text h1 {
    font-size: 36px;
}

.plants-text .highlight {
    color: orange;
    font-weight: bold;
}